/* Google font  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
     font-family: "Work Sans", sans-serif;
}
body p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #727272;
}


/* shared style  */
main section{
    padding-top: 130px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
}


.btn-primary{
    background-color: #FF900E;
    padding: 1.25rem 1.5rem;
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border-style: none;

}

/* color class */
.dark1{
    color: #131313;
}
.dark3{
    color: #727272;
}
.dark2{
    color: #424242;
}

.heading-45{
    font-size: 2.9rem;
    font-weight: bold;
    color: #131313;
}

/* normal  style */

header{
    background-color: rgba(255, 148, 14, 10%);
    padding: 50px 0;
}

#header nav {
    justify-content: space-between;
    align-items: center;
}

#header nav ul{
    list-style: none;
    gap: 40px;
}
#header nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}


/* banner */
#banner{
    text-align: center;
    margin-top: 102px;
}
#banner .banner-content{
    justify-content: center;
}
#banner .banner-content div{
    max-width: 862px;
}
#banner .banner-title{
    font-size: 4rem;
    margin-bottom: 1.25rem;
}
#banner .banner-content div p{
    margin-bottom: 2rem;

}
#banner img{
    max-width: 100%;
    border-radius: 8px;
    margin-top: 50px;
}



/* features section */
#features {
    gap: 4.25rem;
    align-items: center;
}
#features .features-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
#features .features-images img{
    border-radius: 8px;
    max-width: 100%;
}
#features .features-content{
    max-width: 537px;
}
#features .features-content .features-title{
    font-size: 2.9rem;
    font-weight: 500;
    color: #727272;
    margin-bottom: 1.5rem;
}
#features .features-content .features-title .title-black{
    font-weight: bold;
    color: #131313;
}
#features .features-content .features-title .title-orange{
    font-weight: bold;
    color: #FF900E;
}

#features .features-content .features-description{
    margin-bottom: 32px;
}



/* ==========features you section =============*/

#features-you{
    gap: 146px  ;
}
#features-you .features-you-title-div{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 1.5rem;
}
#features-you .features-you-description{
    margin-bottom: 1.9rem;
}
#features-you .features-you-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 6%);
    margin-bottom: 20px;
}
#features-you .features-you-card .features-you-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
#features-you .features-you-image .big-text{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.4rem;
}
#features-you .features-you-image .big-button{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    padding: 2.8rem 3rem;
    position: relative;
    left: -92px;
    top: -120px;
}